{% extends 'projects/base.html' %}

{% block content %}
<div class="text-center mx-auto">
    <h2 class="mb-4">Login</h2>

    <form method="post" class="form-signin">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"  class="btn btn-success my-3 stretched-link" value="Login">
    </form>

    <a href="{% url 'dashboard' %}" class="btn btn-primary stretched-link">Back to Dashboard</a>
    <a href="{% url 'social:begin' 'github' %}" class="btn btn-dark stretched-link">Login with GitHub</a>
    <a href="{% url 'password_reset' %}" class="btn btn-danger stretched-link">Reset password</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
</div>

{% endblock content %}